ul li
{
    list-style-type: none;/*去點*/
}
.container,
.line,
body,
h3{
  margin: 0;
  padding: 0;
  font-family: '微軟正黑體';
}
/*----------------------------------------------------------全版背景、header背景*/
body{
  background-size: cover;
  background-image: url(img/img_section.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/*--------------------------------------------------全版背景、header背景*/
.container{
  width: 100%;
  max-width: 1280px;
  /*版面寬度1280px*/
  margin: auto;
  /*版面居中對齊*/
  text-align: center;
}
.wrapper {
  width: 100%;
  max-width: 1250px;
  height: 100px;
  margin: auto;
}
.header_logo {
  float: left;
  margin-left: 12px;
}
.header_label {
  float: right;
  margin-top: 32px;
}
.logo{
  margin-top: 10px;
  height: 80px;
  width: auto;
}
/*----------------------------------------------------------section*/
section{
  height: auto;
  display: inline-block;
}


.window{
  width: 68%;
  height: auto;
  text-align: center;
  margin: auto;
  background-color: rgba(255,255,255,0.5);
}
.title{
  background-color: rgba(115,112,112,0.5);
  padding: 10px 0;
  margin-bottom: 40px;
}
.title h1{
  font-size: 45px;
}
.img_content p{
  font-size: 18px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align:left;
}
.img_1{
  width: 60%;
}
.form{
  width: 90%;
}
.registered_success{
  margin-right:-60px;
  margin-left:20px;
}
/*----------------------------------------------------------section*/
/*----------------------------------------------------------footer*/
footer{
  background-image: url("img/header_ocean.png");
  background-size: cover;
  height: 60px;
}

footer p{
  position: relative;
  text-align: center;
  top: 18px;
}
/*----------------------------------------------------------footer*/

/*-----------------------------------------------------------------------------------max-width: 320px*/
a{
  text-decoration:none;
}
