ul li
{
    list-style-type: none;/*去點*/
}
.container,
.line,
body,
h3{
  margin: 0;
  padding: 0;
  font-family: '微軟正黑體';
}
/*----------------------------------------------下拉式選單*/
.navbar-default,.container-fluid{
  background-color: rgba(0,0,0,0);
  background-size: 0;
  border-color: rgba(0,0,0,0);
}
.nav.navbar-nav.navbar-right{
  margin-top: 48px;
}
.navbar-toggle{
  margin-top:40px;
}
.navbar-default .navbar-nav > li > a{
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.dropdown-menu{
  min-width: 104px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background-color: #2bd2f2;
  color: #ffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: #2bd2f2;
}
@media screen and (max-width:795px) {
  .nav.navbar-nav.navbar-right{
    margin-top: 0px;
  }
  .navbar-nav .open .dropdown-menu{
    background-color: #2bd2f2;
  }
}
@media screen and (max-width:410px){
  a.navbar-brand{
    width: 80%;
    padding: 0;
  }
  .logo{
    display: inline-block;
    width: 100%;
    height: auto;
  }
  .navbar-toggle{
    margin:0px;
    margin-top: 10px;
  }
}
/*----------------------------------------------下拉式選單*/
