/*---------------------右線--------------------*/
#right_body_line{
  border-top: 1px #000000 solid;
  width: 700px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: -16px;
}
/*---------------------右線--------------------*/
/*-------------------搜尋部分------------------*/
.search_part{
  margin-top: 30px;
}
/*-------------------搜尋部分------------------*/
