ul li
{
    list-style-type: none;/*去點*/
}
.container,
.line,
body,h3{
  margin: 0;
  padding: 0;
  font-family: '微軟正黑體';
}
/*----------------------------------------------------------全版背景、header背景*/
body{
  background-image: url("img/background.png");
  background-size: cover;
}
/*--------------------------------------------------全版背景、header背景*/
.container{
  width: 100%;
  max-width: 1280px;
  /*版面寬度1280px*/
  margin: auto;
  /*版面居中對齊*/
  text-align: center;
}
.wrapper {
  width: 100%;
  max-width: 1280px;
  height: auto;
  margin: auto;
}
.header_logo {
  float: left;
  margin-left: 12px;
}
.header_label {
  float: right;
  margin-top: 32px;
}
.logo{
  height: 80px;
  width: auto;
}
/*----------------------------------------------------------section*/
#myCarousel{
  margin: 20px 0;
}

.carousel-inner img{
  width: 100%;
  height: auto;
}

h3{
  font-weight: 800;
  font-size: 30px;
}
p{
  font-size: 25px;
  text-align: left;
};

.container h3,p,img,form{
  text-align: left;
}

.tab1{
  margin-bottom: 38px;
}
.tab2{
  margin-bottom: 40px;
}
.tab1 p{
  width: 97%;
}
.tab2 p{
  width: 97%;
}

.line{
  border-top: #99dcff 2px solid;
  margin-bottom: 10px;
}

.tab{
  width: 100%;
  display: inline-block;
  margin-bottom: 40px;
}

img.big-img{
  width: 100%;
  height: auto;
}

.tab img{
  width: 50%;
  height: auto;
  float: left;
  margin-right: 5px;

}

iframe{
  width: 100%;
  margin-bottom: 30px;
}

/*----------------------------------------------------------section*/
/*-----------------------------------------------------------------------------------max-width: 320px*/

/*-----------------------------------------------------------------------------------max-width: 320px*/
a{
  text-decoration:none;
}
